.container-fluid
  - flash.each do |name, msg|
    %div{:class => "alert alert-#{name} alert-dismissible"}
      %button.close{"aria-label" => "Close", "data-dismiss" => "alert", :type => "button"}
        %span{"aria-hidden" => "true"} &times;
      = content_tag :div, msg, :id => "flash_#{name}" if msg.is_a?(String)

  .row
    .col-md-10.col-md-offset-1
      .col-md-8
        = yield
      .col-md-4
        = yield :sidebar
