!!! 5
%html
  %head
    %title
      Blog App
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = csrf_meta_tags
  %body
    %nav.navbar.navbar-default
      .container-fuild
        .navbar-header
          %button.navbar-toggle.collapsed{"aria-expanded" => "false", "data-target" => "#navbar-collapse", "data-toggle" => "collapse", :type => "button"}
            %span.icon-bar
            %span.icon-bar
            %span.icon-bar
          =link_to "Blog App", root_path, class: "navbar-brand"
        .navbar-collapse.collapse.navbar-right#navbar-collapse
          %ul.nav.navbar-nav
            - if user_signed_in?
              %li= link_to "Account", edit_user_registration_path
              %li= link_to "Sign Out", destroy_user_session_path, method: :delete

            - else
              %li= link_to "Sign up", new_user_registration_path
              %li= link_to "Sign in", new_user_session_path

    .container-fluid
      - flash.each do |name, msg|
        %div{:class => "alert alert-#{name} alert-dismissible"}
          %button.close{"aria-label" => "Close", "data-dismiss" => "alert", :type => "button"}
            %span{"aria-hidden" => "true"} &times;
          = content_tag :div, msg, :id => "flash_#{name}" if msg.is_a?(String)

      .row
        .col-md-10.col-md-offset-1
          .col-md-8
            = yield
          .col-md-4
            = yield :sidebar
